.card {
    height: 350px;
    width: 240px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
    border: 3px solid black;
    border-radius: 8px;
}

.card-container-img {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-container-text {
    padding: 12px 16px;
}

h3 {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}